@import '../styles/variables.scss';

.aiImage {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.image {
  height: 220px;
  width: 240px;
  border: 1px solid #e2e8f0;
  @media screen and (max-width: $breakpoint-sp) {
    height: 100px;
    width: 120px;
  }
}
